.background-image {
  text-align: center;
  background-image: url("../../../image/imgLogin.png");
  background-size: cover; 
  background-position: center;
  height: auto
}
.line-container {
  position: relative;
  text-align: center;
}

.line-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  transform: translateY(-50%);
}

.line-container span {
  background-color: white;
  padding: 0 10px;
  z-index: 1; 
}
